target/
*.class
*.jar
*.war
*.ear
*.log
*.rar
.DS_Store
.git
.gitignore
.idea/
*.iml
*.iws
out/
*.ser
*.sh
*.bat
*.cmd
*.txt
*.properties
*.md
*.MF
*.json
*.yml
*.yaml
*.dockerfile
*.sql
*.csv
*.data
*.rptdesign
*.plist
*.hprof
*.releaseBackup
*.kt
*.java
*.groovy
*.scala
*.clj
*.cljs
*.cljc
*.cljx
*.cljs.hl
*.boot
*.cl2
*.cljc
*.cljs
*.hl
*.clj
*.cljx
*.cl2
*.boot
*.edn
*.sample
*.example
*.template
*.tmpl
*.tpl
*.tt